<!DOCTYPE html>
<html>
  <body>
     <p>
     {{proposal.speaker.firstName}},
     </p>
     <p>
     We appreciate your interest, but regret to inform you that your talk on <u>{{proposal.session.title}}</u> was not accepted for the <b>{{proposal.conference.name}}</b>.
     </p>
     <p>
     We look forward to seeing you at future events, and hope that you submit
     more conference talks.
     </p>
     <p>
     Sincerely,<br/>
     The {{proposal.conference.name}} Event Team.
     </p>
  </body>
</html>